.hs-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    //
    ul.hs-error-msgs {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        //
        label {
            display: block !important;
            margin-top: 5px;
            color: $red !important;
            font-size: 12px !important;
        }
    }
    //
    .hs-form-field {
        margin: 0;
        //
        label {
            display: none !important;
            color: white !important;
        }
        //
        
    }
    .form-columns-2 {
        display: grid !important;
        gap: 20px !important;
        grid-template-columns: 1fr;
        @media screen and (min-width: 482px) {
            grid-template-columns: repeat(2, 1fr) !important;
            align-items: start !important;
            gap: 10px !important;
        }
        .hs-form-field {
            display: grid !important;
            place-items: end start !important;
            float: none !important;
            width: 100% !important;
            // margin: 0;
            //
            // @media screen and (min-width: 482px) {
            //     &:first-child {
            //         margin-right: 8px;
            //     }
            // }
            //
            
        }
        
    }
    .input {
        width: 100% !important;
        margin-right: 0 !important;
        //
        @media screen and (max-width: 767px) {
            margin-right: 0 !important;
            
        }
        //
        input,
        select
        {
            width: 100% !important;
            background-color: white;
            margin: 0 !important;
            padding: 15px !important;
            border: 0;
            font-size: 16px !important;
        }

        
    }

    // SELECT
    .hs-fieldtype-select {
        .input {
            select{
                padding-right: 25px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
            
            &:after{
                position: absolute;
                width: 0;
                height: 0;
                content: '';
                top: 50%;
                right: 15px;
                margin-top: -3px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid black;
            }
        }
    }
    //
    .actions {
        margin-top: 0 !important;
        //
        input[type="submit"] {
            all: unset;
            box-sizing: border-box;
            outline: none;
            padding: 15px 50px !important;
            background-color: $light-blue !important;
            border-radius: 4px !important;
            color: $purple !important;
            font-size: 20px !important;
            font-weight: bold !important;
        }
    }
}

/* *************************************************
                    HUBSPOT
************************************************* */
.hs-form-field,
.actions
{
    position: relative;
    margin: 15px 0;
    //
    legend{
        display: none !important;
        color: white;
    }
    
}

/*
    COOKIES BOX
*/
.hs-cookie-notification-position-bottom {
    p {
        @media screen and (max-width: 767px) {
            font-size: 16px  !important;
        }
    }
    //
    a[role="button"] {
        @media screen and (max-width: 767px) {
            font-size: 16px  !important;
        }
    }
}
div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
    @media screen and (max-width: 480px) {
        font-size: 16px  !important;
    }
}
