// base color
$purple: #854694;
$blue:#145A93;
$light-blue:#0098DA;
$red:#ee706a;
$pink: #E65D6E;
$green: #30B08F;
$yellow:#FEC171;

$gray0: #373435;
$gray1: #a2a2a2;
$gray2: #f9f9f9;

// OTHERS

$borderColor: #BDBFC1;

$colorPlaceholder: $gray0;

$defaulRadius: 4px;

$transition: 300ms;

// Break points width sizes
$breakpoint4xx: 480px;
$breakpoint6xx: 640px;
$breakpoint7xx: 768px;
$breakpoint9xx: 960px;
$breakpoint11xx: 1100px;
$breakpoint12xx: 1200px;
