// base color
$purple: #854694;
$blue:#747cbb;
$light-blue:#7ccbe2;
$red:#ee706a;
$pink: #E65D6E;
$green: #30B08F;
$yellow:#FEC171;
$beige: #F5DEC6;

$gray0: #4d4d4d;
$gray1: #8e989f;
$gray2: #bfc4cb;
$gray3: #dcdfe5;
$gray3: #dcdfe5;
$gray4: #dfe0de;
$gray5: #f9f9f9;

// OTHERS

$borderColor: #c9cdd2;

$colorPlaceholder: $gray2;

$defaulRadius: 4px;

$transition: 300ms;

// Break points width sizes
$breakpoint4xx: 480px;
$breakpoint6xx: 640px;
$breakpoint7xx: 768px;
$breakpoint9xx: 960px;
$breakpoint11xx: 1100px;
$breakpoint12xx: 1200px;
